<app-navbar></app-navbar>

<div class="container-fluid full-height d-flex flex-row justify-content-center align-items-top">
	
<div class="d-flex flex-column mt-4 align-items-center presentation-container">
	<img alt="Profile pic" class="profile-pic" src="https://avatars0.githubusercontent.com/u/14298877?s=460&u=bc3e8bfb0af07d11c74955111bd014b4f30a78af&v=4">

	<h2 class="display-4 mt-3"> Hello there! </h2>

	<p class="text-center description">
		I'm Mario and this is my solution for the <i> Take Home</i> project proposed by InnoCV for a technical interview. I hope you find it	useful and correct according to the specifications. <br />
    See you around! 😊 
  </p>
		<button class="btn btn-primary mt-4 py-3 px-4" routerLink="/home"> 
    Go to Home 
    <fa-icon [icon]="faHome"></fa-icon>
    </button>
</div>
</div>

