<app-navbar></app-navbar>

<div class="d-flex justify-content-center" *transloco="let t; read: 'user.userNew'">
	<div class="user-box d-flex justify-content-center align-items-center flex-column mx-3 my-4 p-4">
		<h5 class="section-title mb-0">
			<a routerLink="/user" class="title-link">
				<fa-icon [icon]="faUser"></fa-icon>
				{{ t('title') }}
			</a>
			<fa-icon [icon]="faChevronRight" class="mx-2"></fa-icon>
			{{ t('subtitle') }}
		</h5>

		<hr class="divider mb-3 mt-2">

		<div class="container">
			<p class="description">
				{{ t('description') }}
			</p>
		</div>
	</div>