.user-box {
  max-width: 1000px; 
  background-color: #f8f9fa; 
  border-radius: 5px; 
  width: 100%;

  .section-title {
    color: #666;
    font-weight: 300;

    a.title-link {
      text-decoration: none;
      color: #666;
    }
  }
  .divider {
    width: 100%;
    min-height: 0.1rem;
  }

  .description {
    font-size: .9em;
    align-self: start;
  }

  .list-filter {
    flex-grow: 1;

    fa-icon {
      font-size: .9em;
    }    

    .search-input{
      font-size: .9em;
    }
  }

  .action-btn {
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 0.9em;
  }

  .user-list{
    background-color: white;
    border: 2px dashed #ccc;
    overflow-y: auto;
    max-height: 67vh;
    
    .header {
      background-color: #333; 
      color: white;
      font-weight: 500;
      font-size: .9em;
      width: 100%;
      list-style: none;
      border-radius: 5px; 

      .deselect-btn {
        cursor: pointer;
        
        fa-icon {
          font-size: .7em;
        }
      }
    }

    .user-item {
      background-color: #f8f9fa; 
      width: 100%;
      list-style: none;
      border-radius: 5px; 
      cursor: pointer;
      transition: all .3s;

      &:hover {
        background-color: #e7e7e7;
      }
    }

    .user-item-selected {
      background-color: #e7e7e7;
    }

    .no-items-label {
      background-color: #f8f9fa; 
      width: 100%;
      list-style: none;
      border-radius: 5px; 
    }
  }
}