<nav class="navbar navbar-light bg-light fixed-nav flex-nowrap">
  <ng-container *transloco="let t; read: 'navbar'">
    <a class="navbar-brand innocv-logo display-1" routerLink="/home">
      <img src="https://i.ibb.co/vYdnYBc/innocv-logo.png" class="d-inline-block align-center mr-2" alt="InnoCV Logo">
      {{ t('title') }}
    </a>
  </ng-container>

		<div class="d-flex flex-row">
      <!-- Language options -->
			<img class="lang-option" (click)="updateLang('es')" alt="Spanish" src="https://cdn1.iconfinder.com/data/icons/ensign-11/512/242_Ensign_Flag_Nation_spain-512.png">
			<img class="lang-option mx-1" (click)="updateLang('en')" alt="English" src="https://cdn1.iconfinder.com/data/icons/ensign-11/512/273_Ensign_Flag_Nation_kingdom-512.png">

      <div class="separator mx-1"></div>

      <!-- Social links -->
			<a class="social-link mx-1" href="https://github.com/mhSangar" target="_blank">
				<fa-icon [icon]="faGithub"></fa-icon>
			</a>
			<a class="social-link mx-1" href="https://linkedin.com/in/mario-san-gar" target="_blank">
				<fa-icon [icon]="faLinkedin"></fa-icon>
			</a>
		</div>
</nav>

<div class="nav-placeholder-height"></div>