<app-navbar></app-navbar>

<div class="card-options-container m-4">

	<div class="card bg-dark text-light m-2 card-as-link" routerLink="/user" *transloco="let t; read: 'home.users'">
		<div class="card-header">
			<fa-icon [icon]="faUser" class="mr-1"></fa-icon>
			{{ t('label') }}
		</div>
		<div class="card-body">
			<h5 class="card-title">{{ t('title') }}</h5>
			<p class="card-text">{{ t('description') }}</p>
		</div>
	</div>

	<div class="card bg-light m-2 card-as-link card-disabled" *transloco="let t; read: 'home.another'">
		<div class="card-header text-dark-gray">
			<fa-icon [icon]="faPlus" class="mr-1"></fa-icon>
			{{ t('label') }}
		</div>
		<div class="card-body text-dark-gray">
		<h5 class="card-title">{{ t('title') }}</h5>
			<p class="card-text">{{ t('description') }}</p>
		</div>
	</div>

</div>