
.text-dark-gray {
  color: #666;
}

.info-circle {
  color: rgba(24, 125, 240, 0.8);
}

.card-options-container {
  .card-as-link {
    cursor: pointer;
    width: 16rem;
  }

  .card-disabled {
    opacity: 0.7;
    cursor: not-allowed !important;
  }
}
