<app-navbar></app-navbar>

<div class="card-options-container m-4">

	<div class="card bg-dark text-light m-2 card-as-link" routerLink="/user">
		<div class="card-header">
			<fa-icon [icon]="faUser" class="mr-1"></fa-icon>
			Users
		</div>
		<div class="card-body">
			<h5 class="card-title">User Entity</h5>
			<p class="card-text">Select this option to navigate to the requested CRUD.</p>
		</div>
	</div>

	<div class="card bg-light m-2 card-as-link card-disabled">
		<div class="card-header text-dark-gray">
			<fa-icon [icon]="faPlus" class="mr-1"></fa-icon>
			Another
		</div>
		<div class="card-body text-dark-gray">
			<h5 class="card-title">Another Entity</h5>
			<p class="card-text">Select this option to navigate to another entity (disabled).</p>
		</div>
	</div>

</div>