
.text-dark-gray {
  color: #666;
}

.card-options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .card-as-link {
    cursor: pointer;
    width: 16rem;
  }

  .card-disabled {
    opacity: 0.7;
    cursor: not-allowed !important;
  }
}
