<p>
  home page is working :D
</p>

<button class="btn btn-primary mx-1 px-4" routerLink="/presentation">Presentation</button>
<button class="btn btn-primary mx-1 px-4" routerLink="/user">User</button>


<div class="card bg-light mb-3 card-as-link" style="max-width: 18rem;" routerLink="/user">
  <div class="card-header text-dark-gray">
    <fa-icon [icon]="faUser" class="mr-1"></fa-icon>
    Users
  </div>
  <div class="card-body">
    <h5 class="card-title">User Entity</h5>
    <p class="card-text">Select this option to navigate to the main app.</p>
  </div>  
</div>
