<app-navbar></app-navbar>


<div class="d-flex justify-content-center" *transloco="let t; read: 'user'">
	<div class="user-box d-flex justify-content-center align-items-center flex-column mx-3 my-4 p-4">
		<h5 class="section-title mb-0">
			<fa-icon [icon]="faUser"></fa-icon>
			{{ t('title') }}
		</h5>

		<hr class="divider mb-3 mt-2">

		<div class="container">
			<p class="description">
				{{ t('description') }}
			</p>

			<div class="input-group mb-3 list-filter">
				<div class="input-group-prepend">
					<span class="input-group-text">
            <fa-icon [icon]="faFilter"></fa-icon>
          </span>
				</div>
				<input type="text" class="form-control search-input" placeholder="{{ t('filter.placeholder') }}"  name="searchString" [(ngModel)]="searchString">
      </div>

				<ul class="user-list p-2 m-0 container" *transloco="let t; read: 'user.list'">
					<!-- Header (if items) -->
					<li class="header py-1 px-3 mt-2 mb-3"
						*ngIf="(users | async | userListFilter:searchString)?.length">
						<div class="d-flex flex-row row">
							<div class="col-3">{{ t('headers.id') }}</div>
							<div class="col-6">{{ t('headers.name') }}</div>
							<div class="col-3">{{ t('headers.birthdate') }}</div>
						</div>
					</li>

					<!-- Label (if no items) -->
					<li class="user-item py-1 px-3 my-2"
						*ngIf="(users | async | userListFilter:searchString)?.length === 0">
						<div class="d-flex justify-content-center py-3">
							{{ t('noItemsLabel') }}
						</div>
					</li>

					<!-- Items -->
					<li class="user-item py-1 px-3 my-2"
						*ngFor="let user of users | async | userListFilter:searchString">
						<div class="d-flex flex-row row">
							<div class="col-3">{{ user.id }}</div>
							<div class="col-6">{{ user.name }}</div>
							<div class="col-3">{{ user.birthdate | translocoDate }}</div>
						</div>
					</li>
				</ul>

			</div>
		</div>
	</div>