.user-box {
  max-width: 1000px; 
  background-color: #f8f9fa; 
  border-radius: 5px; 
  width: 100%;

  .section-title {
    color: #666;
    font-weight: 300;
  }
  .divider {
    width: 100%;
    min-height: 0.1rem;
  }

  .description {
    font-size: .9em;
    align-self: start;
  }

  .list-filter {
    fa-icon {
      font-size: .9em;
    }    

    .search-input{
      font-size: .9em;
    }
  }

  .user-list{
    background-color: white;
    border: 2px dashed #ccc;
    overflow-y: auto;
    max-height: 67vh;
    
    .user-item {
      background-color: #f8f9fa; 
      width: 100%;
      list-style: none;
      border-radius: 5px; 
    }
    .header {
      background-color: #333; 
      color: white;
      font-weight: 500;
      font-size: .9em;
      width: 100%;
      list-style: none;
      border-radius: 5px; 

    }
  }
}