.user-box {
  max-width: 700px; 
  background-color: #f8f9fa; 
  border-radius: 5px; 
  width: 100%;

  .section-title {
    color: #666;
    font-weight: 300;

    a.title-link {
      text-decoration: none;
      color: #666;
    }
  }
  .divider {
    width: 100%;
    min-height: 0.1rem;
  }

  .description {
    font-size: .9em;
    align-self: start;
  }

  .form-submit-btn {
    width: 50%;
  }

}
