<app-navbar></app-navbar>

<div class="d-flex justify-content-center" *transloco="let t; read: 'user.userEdit'">
  <div class="user-box d-flex justify-content-center align-items-center flex-column mx-3 my-4 p-4">
    <h5 class="section-title mb-0">
      <a routerLink="/user" class="title-link">
        <fa-icon [icon]="faUser"></fa-icon>
        {{ t('title') }}
      </a>
      <fa-icon [icon]="faChevronRight" class="mx-2"></fa-icon>
      {{ t('subtitle') }}
    </h5>

    <hr class="divider mb-3 mt-2">

    <div class="container">
      <p class="description">
        {{ t('description') }}
      </p>
    </div>

    <form [formGroup]="editedUserForm" class="d-flex flex-column container p-0"
      *transloco="let t; read: 'user.userEdit.form'">
      <div class="d-flex flex-row">
        <div class="col-6">
          <div class="d-flex flex-row justify-content-start">
            <label for="name">{{ t('name.label') }}</label>
            <span class="text-danger ml-1 font-weight-bold">*</span>
          </div>
          <input id="name" name="name" class="form-control" formControlName="name" required>
          <div
            *ngIf="editedUserForm.get('name').invalid && (editedUserForm.get('name').dirty || editedUserForm.get('name').touched)"
            class="text-danger">

            <span *ngIf="editedUserForm.get('name').errors.required">
              {{ t('name.error') }}
            </span>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <div class="d-flex flex-row justify-content-start">
              <label for="dateOfBirth">{{ t('birthdate.label') }}</label>
              <span class="text-danger ml-1 font-weight-bold">*</span>
            </div>
            <div class="input-group">
              <input id="dateOfBirth" class="form-control" formControlName="birthdate"
                placeholder="{{ t('birthdate.placeholder') }}" name="dp" ngbDatepicker #dp="ngbDatepicker"
                [minDate]="minSelectableDate" [maxDate]="maxSelectableDate" required>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button">
                  <fa-icon [icon]="faCalendarAlt"></fa-icon>
                </button>
              </div>
            </div>
            <div
              *ngIf="editedUserForm.get('birthdate').invalid && (editedUserForm.get('birthdate').dirty || editedUserForm.get('birthdate').touched)"
              class="text-danger">

              <span *ngIf="editedUserForm.get('birthdate').errors.required">{{ t('birthdate.error') }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="container d-flex justify-content-center mt-4">
        <button type="submit" (click)="onSubmit()" class="btn btn-success form-submit-btn"
          [disabled]="!editedUserForm.valid">
          <fa-icon [icon]="faSave" class="mr-1"></fa-icon>
          {{ t('submitBtn') }}
        </button>

        <button (click)="onUndoChanges()" class="btn btn-info ml-2 form-submit-btn">
          <fa-icon [icon]="faUndo" class="mr-1"></fa-icon>
          {{ t('undoBtn') }}
        </button>
      </div>


    </form>
  </div>